TOKEN=MTM4NTkwMzIzMzcyNTEwNDIyOA.GuEnjq.kF0tMBR5niv_sHhBZnoMUlJOysIHxOkEEmZ6xk
MONGODB_URI=mongodb+srv://codex-in1:codex-in1@codex-in1.1bgxp.mongodb.net/?retryWrites=true&w=majority
SPOTIFY_CLIENT_ID=db0038dac3a5456d8039d1c0e4d6f4a2
SPOTIFY_CLIENT_SECRET=6d3eb51242bb4ea68ddcdce6f50c71fa
